In [ ]:
%cd ../../src

In [1]:
from dataload import load
data = load(dataset_name='mdgenre')

c:\Users\Noctris\.virtualenvs\rdf-literal-preprocessing-20b3_M0v\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

loaded data mdgenre (75.25s).
pruned (18.57s).

In [4]:
data.datatypes()

['iri',
 'http://kgbench.info/dt#base64Image',
 'http://www.w3.org/1999/02/22-rdf-syntax-ns#langString',
 'http://www.w3.org/2001/XMLSchema#dateTime',
 'http://www.w3.org/2001/XMLSchema#decimal',
 'http://www.w3.org/2001/XMLSchema#string']

In [6]:
from utils import get_relevant_relations, get_p_types, RDF_DATE_TYPES

p_types = get_p_types(data)
rr = get_relevant_relations(p_types, RDF_DATE_TYPES, data.r2i)

In [7]:
rr

[117, 63, 120, 119, 64, 16, 12]

In [32]:
df = data.triples
sub = df[df[:,1]== 63]

In [61]:
import pandas as pd
dfs = []
for triple in sub:
    dfs.append(pd.DataFrame([[int(triple[0]), data.i2e[triple[2]][0].split('+')[0]]], columns = ["s","date"]))
    #print(data.i2e[triple[2]][0])
    #break

frame = pd.concat(dfs)

In [62]:
#pd.to_datetime(frame.date, format="%Y-%m-%dT%H:%M:%S")
#frame.date =  pd.to_datetime(frame.date, format="%Y-%m-%dT%H:%M:%S", errors = 'coerce')
#frame.date.dt.day_of_week
import datetime
import numpy as np

frame.date = frame.date.apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%dT%H:%M:%S') if type(x)==str else np.NaN)

In [63]:
frame["weekday"] = frame.date.apply(lambda x: x.strftime('%A') if x != np.NaN else np.NaN)
frame["month"] = frame.date.apply(lambda x: x.strftime('%B') if x != np.NaN else np.NaN)

In [64]:


frame

         s                 date    weekday    month
0   111528  2000-01-01 00:00:00   Saturday  January
0   266788  1956-01-01 00:00:00     Sunday  January
0   225486  1972-01-01 00:00:00   Saturday  January
0   151881  1952-01-01 00:00:00    Tuesday  January
0   249698  1951-01-01 00:00:00     Monday  January
..     ...                  ...        ...      ...
0   101544  1977-01-01 00:00:00   Saturday  January
0   185068  1981-01-01 00:00:00   Thursday  January
0   198584  1997-01-01 00:00:00  Wednesday  January
0   217927  1947-01-01 00:00:00  Wednesday  January
0   185351  1998-01-02 00:00:00     Friday  January

[22443 rows x 4 columns]